:root {
  --background-main: #13171b;
  --background-mid: #242a35;
  --background-dark: #0f1113;
  --text-main: #e5e5e5;
  --text-emphasis: #f3f3f3;
  --text-muted: #b8bfc7;
  --border-colour: #3a404b;
  --action-colour: #6488ec;
  --input-background:  #242a35;
  --input-color: #e5e5e5;
  --input-focus-color: rgba(100, 136, 236, 0.4);
  --input-disabled-background: #4b4b4c;
  --input-disabled-color: #6b6e71;

  --button-background: #768293;
  --button-color: var(--text-main);

  --action-button-background: var(--action-colour);
  --action-button-color: var(--text-main);

  --secondary-button-background: #60788b;
  --secondary-button-color: var(--text-main);

  --button-disabled-background: #3e3c3c;
  --button-disabled-color: #777474;
}
