:root {
  --background-main: #f1f3f3;
  --background-mid: #fcfcfc;
  --background-dark: rgb(224, 224, 224);
  --text-main: #222;
  --text-emphasis: #000;
  --text-muted: #616161;
  --border-colour: #9ea4a8;
  --action-colour: #3766e7;
  --input-background: var(--background-mid);
  --input-color: var(--text-main);
  --input-focus-color: rgba(37, 73, 172, 0.4);
  --input-disabled-background: #ececec;
  --input-disabled-color: #b8b8b8;

  --button-background: #777778;
  --button-color: var(--background-main);

  --action-button-background: var(--action-colour);
  --action-button-color: var(--background-main);

  --secondary-button-background: #6c8693;
  --secondary-button-color: var(--background-main);

  --button-disabled-background: #d7d7d7;
  --button-disabled-color: #929292;

}
