:root {
  --border-radius: 0.2rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.25rem;
}

body {
  margin: auto;
  max-width: 80vw;
  background-color: var(--background-main);
  color: var(--text-main);
}
