form {
  display: block;
  margin-top: 0em;
  border-radius: 5px;
  padding-top: 20px;

  input,
  select {
    border-radius: var(--border-radius);
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--border-colour);
  }



  input[type="submit"] {
    border: none;
    //extend button class here
    cursor: pointer;
  }

}