fieldset{
  border:1px solid var(--border-colour);
}
form {
  display: block;
  margin-top: 0;

  fieldset{
    border:1px solid var(--border-colour);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
  }

  label {
    display: block;
    margin:0.5rem 0;
  }

  input,
  button,
  textarea,
  select {
    &:focus {
      outline: none;
    }
  }

  input,select,textarea{
    margin: 0 0 0.5rem 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="color"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    border-radius: var(--border-radius);
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin: 0 0 0.5rem 0;
    border: none;
    background: var(--input-background);
    color: var(--text-main);

    &:focus {
      border-color: var(--input-focus-color);
      box-shadow: 0 0 0 2px var(--input-focus-color);
    }

    &[disabled] {
      background: var(--input-disabled-background);
      color: var(--input-disabled-color);
      cursor: not-allowed;
    }

  }

  input[type="color"]{
    padding:0;
    margin: 0 0 0.5rem 0;
    width:auto;
    min-width:5rem;
  }


  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;

    &[disabled] {
      cursor: not-allowed;

      &::-webkit-slider-thumb {
        background: var(--input-disabled-background);
        cursor: not-allowed;
      }

      &::-moz-range-thumb {
        background: var(--input-disabled-background);
        cursor: not-allowed;
      }

      &::-webkit-slider-runnable-track {
        background: var(--input-disabled-background);
        cursor: not-allowed;
      }

      &::-moz-range-track {
        background: var(--input-disabled-background);
        cursor: not-allowed;
      }
    }

    &:focus {
      outline: none;

      &::-webkit-slider-runnable-track {
        border-color: var(--input-focus-color);
        box-shadow: 0 0 0 2px var(--input-focus-color);
      }

      &::-moz-range-track {
        border-color: var(--input-focus-color);
        box-shadow: 0 0 0 2px var(--input-focus-color);
      }
    }


    // Thumb -----------------

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -8px;
      border: none;
      box-shadow: 1px 1px 1px rgba(black, 0.1);
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: var(--action-button-background);
      cursor: pointer;
    }

    &::-moz-range-thumb {
      border: none;
      box-shadow: 1px 1px 1px rgba(black, 0.1);
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: var(--action-button-background);
      cursor: pointer;
    }

    // Track ------------------

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: var(--background-mid);
      border-radius: var(--border-radius);
      border: none;
    }

    &::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: var(--background-mid);
      border-radius: var(--border-radius);
      border: none;
    }

  }

  textarea {
    resize: vertical;
    min-height: 4rem;
    padding: 0.75rem;
  }

  input[type="checkbox"],
  input[type="radio"] {
    opacity: 0;



    &[disabled] {
      +label {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    +label {
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -1.5rem;
        width: 1em;
        height: 1em;
        background: var(--input-background);
        border-radius: var(--border-radius);
        border:1px solid var(--border-colour);
        transform: translate(0%, -50%);
      }
    }
  }

  input[type="checkbox"] {
    +label {
      &:after {
        display: none;
        content: '✓';
        color:var(--background-main);
        position: absolute;
        width:1em;
        height:1em;
        top: 50%;
        left: -0.5rem;
        place-items:center;
        font-size:0.9rem;
        transform: translate(-100%, -50%);

      }
    }

    &:checked {
      +label {

        &:before {
          background: var(--action-button-background);
        }

        &:after {
          display: flex;
        }
      }
    }

  }

  input[type="radio"] {
    +label {

      &:before {
        border-radius: 50%;
      }

      &:after {
        display: none;
        content: '';
        position: absolute;
        top: 50%;
        left: -1.25em;
        width: 0.5em;
        height: 0.5em;
        transform: translate(0%, -50%);
        border-radius: 50%;
        background-color:var(--background-main);
        border:1px solid transparent;
      }
    }

    &:checked {
      +label {
        &:before {
          background: var(--action-button-background);
        }
        &:after {
          display: block;
        }
      }
    }

  }
}

%button {
  border-radius: var(--border-radius);
  padding: 0.75rem;
  border: none;
  width: auto;
  cursor: pointer;

  &:focus {
    border-color: var(--input-focus-color);
    box-shadow: 0 0 0 2px var(--input-focus-color);
  }

  &[disabled] {
    background: var(--button-disabled-background);
    color: var(--button-disabled-color);
    cursor: not-allowed;
  }
}

input[type="submit"],
button[type="submit"] {
  @extend %button;
  background: var(--action-button-background);
  color: var(--action-button-color);
}

input[type="button"],
button{
  @extend %button;
  background: var(--secondary-button-background);
  color: var(--secondary-button-color);
}

input[type="reset"],
button[type="reset"] {
  @extend %button;
  background: var(--button-background);
  color: var(--button-color);
}