table {
    border: none;
    border-collapse: collapse;
    margin: 1.25rem 0;
    width: 100%;

    caption {
        padding:0.9rem;
    }

    thead {
        text-align: left;

        tr {
            th {
                background-color: var(--background-mid);
                color: var(--text-main);
            }
        }
    }

    tbody {
        tr:nth-child(even) {
            background-color: var(--background-mid);
        }
    }
    tfoot{
        background-color: var(--background-dark);
        td{
            padding:0.45rem 0.9rem;
        }
    }

    th,td{
        padding:0.9rem;
    }
}