@import "./font_stacks.scss";
$fontStack: $sans-serif-font;

* {
  font-family: $fontStack;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--text-emphasis);
  font-weight: bold;
  margin-bottom: 1.1rem;
  margin-top: 1em;
  small{
    color: var(--text-muted);
  }
}

a {
  color: var(--action-colour);
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

small{
  font-size:70%;
}

pre,
code {
  font-family: $monospace-font;
}
